raplcap
powercap
scc
dacapobench
paper.pdf
dacapo-23.11-chopin.jar
dacapo-23.11-chopin
dacapo-23.11-chopin.zip
scratch
venv
parsec-benchmark
nofib
pyperformance
Miniconda3-latest-Linux-x86_64.sh
dist-newstyle
